/*
**
** Variables use in this css file.
**
** note You should use Sublime Text editor.
** see https://packagecontrol.io/packages/CSS%20Less(ish)
**

	@black-color = #1F1F1F
	@light-black-color = #8c8c8c
	@very-light-black-color = #eeeeee
	@white-color = #FCFCFC
	@orange-color = #E6580D
	@blue-color = #145187
	@light-blue-color = #6A98CB
	@brown-color = #963704
	@light-green-color = #62CBAC
	@green-color = #09986D
	@light-orange-color = lighten(@orange-color, 100%)
	@dark-orange-color = darken(@orange-color, 45%)
	@title-dark-orange-color = darken(@orange-color, 30%)
	@title-very-dark-orange-color = darken(@orange-color, 65%)
	@main-font = AUdimat-Mobilette-Regular
	@main-title-font = Input-Mobilette
	@title-font = AUdimat-Mobilette-Bold
	@very-small-padding = 0.4em
	@small-padding = 1em
	@medium-padding = 2em
	@large-padding = 3.5em
	@very-large-padding = 6em
	@padding-section-top = @large-padding + 2
	@padding-section-bottom = @padding-section-top
	@padding-first-section-top = @padding-section-top + 2
	@margin-section-container-top = @medium-padding
	@margin-section-container-bottom = @margin-section-container-top 
*/

header {
	background-color: #E6580D;
	padding-top: 2em;
	padding-left: 5.5555%;
}

#mobilette {
	font-family: Input-Mobilette;
	color: #a13d09;
}

#mobilette::first-letter {
	color: #501e04;
}

#slogan {
	color: #FCFCFC;
	padding-top: 3.5em;
	padding-bottom: 6em;
	background: url('../images/rocket.png') no-repeat center bottom;
	background-color: #E6580D;
}

/*#slogan [*/
	#slogan h1 {
		padding-bottom: 0.4em;
	}
	#slogan a {
		color: white;
	}
/*]*/

#vision {
	padding-top: 3.5em;
}

/*#vision [*/
	#vision ul {
		list-style-position: inside;
		margin-top: 0.4em;
	}
	#vision .quote {
		margin: 3.5em 0;
		text-align: center;
	}
/*]*/

#startup-failure {
	padding-top: 3.5em;
}

/*#startup-failure [*/
	#startup-failure > .section-container {
		overflow: hidden;
		display: table;
	}
	#startup-failure #startup-failure-number {
		padding: 0px;
		display: block;
	}
	#startup-failure .section-container > div {
		float: none;
		display: table-cell;
		vertical-align: middle;
	}
/*]*/

/*#startup-failure-number [*/
	#startup-failure-number .circular {
		width: 100px;
		height: 100px;
		border-radius: 50px;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		background-color: #E6580D;
	}
/*]*/

#why-startup-failure {
	text-align: left;
}

/*#why-startup-failure [*/
	#why-startup-failure > h2 {
		padding-top: 0px;
	}
	#why-startup-failure ul {
		list-style-position: inside;
		margin-top: 0.4em;
	}
/*]*/

#oussama-amar-quote {
	background-color: #145187;
	font-style: italic;
	color: #6A98CB;
	padding-top: 41.19230651855469px;
}

/*#oussama-amar-quote [*/
	#oussama-amar-quote #oussama_amar {
		margin-bottom: 2em;
	}
/*]*/

#solution {
	padding-top: 41.19230651855469px;
}

/*#solution [*/
	#solution .section-container div.wrapper {
		background-color: #eeeeee;
		padding-bottom: 500em;
	     	margin-bottom: -500em;
	     	margin-right: -1px; /* Thank you IE */
	}
	#solution > div.section-container {
		margin-bottom: 6em;
	}
/*]*/

#solution .section-container div.wrapper p {
	padding-bottom: 2em;
}

#solution > .section-container {
    overflow: hidden;
}

#program {
	background-color: #145187;
	color: white;
}

#program .section-container {
	margin-bottom: 3.5em;
}
#program .section-container:last-of-type {
	margin-bottom: 0;
}

#program h3 {
	padding: 1em 0;
}
#program .section-container p {
	text-align: justify;
}

#medium {
	background-color: #145187;
	color: white;
	padding-top: 41.19230651855469px;
}

/*#medium [*/
	#medium iframe {
		margin-bottom: 3.5em;
	}
/*]*/

/*#quote [*/
	#quote .section-container {
		margin-top: 3.5em;
		margin-bottom: 6em;
	}
/*]*/

/*
**
** Define image url for the people in the index page.
**
	@people-image-size = 70px
	@people-image-radius-size = @people-image-size / 2
	@slack-logo-width = 140px
	@slack-logo-height = 65px
	@social-logo-size = 30px
	@rocket-image-width = 319px
	@rocket-image-height = 412px
*/

#oussama_amar, #stephane_udol, #ricky_ngadam, #paul_louis_bautes {
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	background-position: center;
}
#oussama_amar {
	background-image: url('../images/oussama-amar.jpg');
}
#stephane_udol {
	background-image: url('../images/stephane-udol.jpg');
}
#ricky_ngadam {
	background-image: url('../images/ricky-ngadam.jpg');
}
#paul_louis_bautes {
	background-image: url('../images/paul-louis-bautes.jpg');
}
#mouhamed_i {
	background-image: url('../images/mouhamed-i.jpg');
}
#slack_logo {
	width: 140px;
	height: 65px;
	background-image: url('../images/slack_black.png');
}
#twitter_logo {
	width: 30px;
	height: 30px;
	background-image: url('../images/twitter-icon.png');
}
#slack_icon {
	width: 30px;
	height: 30px;
	background-image: url('../images/slack-icon.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
	#oussama_amar, #stephane_udol, #ricky_ngadam, #paul_louis_bautes, #mouhamed_i {
		background-size: 70px auto;
	}
	 #oussama_amar {
		background-image: url('../images/oussama-amar@2x.jpg');
	}
	#stephane_udol {
		background-image: url('../images/stephane-udol@2x.jpg');
	}
	#ricky_ngadam {
		background-image: url('../images/ricky-ngadam@2x.jpg') ;
	}
	#paul_louis_bautes {
		background-image: url('../images/paul-louis-bautes@2x.jpg');
	}
	#mouhamed_i {
		background-image: url('../images/mouhamed-i@2x.jpg');
	}
	#slack_logo {
		background-size: 140px 65px;
		background-image: url('../images/slack_black@2x.png');
	}
	#twitter_logo {
		background-size: 30px auto;
		background-image: url('../images/twitter-icon@2x.png');
	}
	#slack_icon {
		background-size: 30px auto;
		background-image: url('../images/slack-icon@2x.png');
	}
	#slogan {
		background-size: 319px 412px;
		background-image: url('../images/rocket@2x.png');
	}
}

.circular {
	width: 70px;
	height: 70px;
	border-radius: 35.0px;
	-webkit-border-radius: 35.0px;
	-moz-border-radius: 35.0px;
}

/*
**
** Style testimonial section.
**
*/

#testimonial {
	background-color: #09986D;
	color: white;
}

/*#testimonial [*/
	#testimonial p, #testimonial q {
		display: block;
		margin-top: 1em;
	}
	#testimonial .name {
		color: #62CBAC;
	}
	#testimonial .section-container {
		margin-bottom: 3.5em;
	}
	#testimonial > div.section-container:last-of-type {
		margin-bottom: 6em;
	}
/*]*/

/* Variables:very-light-black-color{2683:2690}.large-padding{1374:1379,1595:1600,1696:1701,1766:1771,3082:3087,3374:3379,3432:3437,5930:5935}.title-dark-orange-color{1274:1281}.orange-color{1167:1174,1488:1495,2196:2203}.light-green-color{5879:5886}.people-image-size{3827:3831,3842:3846,4732:4736,5585:5589,5600:5604}.rocket-image-height{5500:5505}.white-color{1351:1358}.very-small-padding{1534:1539,1666:1671,2361:2366}.rocket-image-width{5494:5499}.medium-padding{1190:1193,2556:2559,2913:2916}.small-padding{3180:3183,5853:5856}.title-very-dark-orange-color{1321:1328}.social-logo-size{4402:4406,4417:4421,4501:4505,4516:4520,5288:5292,5394:5398}.very-large-padding{1398:1401,2840:2843,3456:3459,5997:6000}.green-color{5771:5778}.light-blue-color{2453:2460}.slack-logo-height{4317:4321,5186:5190}.blue-color{2415:2422,3009:3016,3275:3282}.main-title-font{1249:1264}.slack-logo-width{4301:4306,5180:5185}.people-image-radius-size{5622:5628,5654:5660,5683:5689} */