/*
**
** Variables use in this css file.
**
** note You should use Sublime Text editor.
** see https://packagecontrol.io/packages/CSS%20Less(ish)
**

	@black-color = #1F1F1F
	@light-black-color = #8c8c8c
	@higlight-black-color = #bdbdbd
	@very-light-black-color = #eeeeee
	@white-color = #FCFCFC
	@orange-color = #E6580D
	@blue-color = #D50C37
	@light-blue-color = #F9C1CD
	@brown-color = #963704
	@light-green-color = #FBE4C2
	@green-color = #E6900D
	@light-orange-color = lighten(@orange-color, 100%)
	@dark-orange-color = darken(@orange-color, 45%)
	@title-dark-orange-color = darken(@orange-color, 30%)
	@title-very-dark-orange-color = darken(@orange-color, 65%)
	@main-font = AUdimat-Mobilette-Regular
	@main-title-font = Input-Mobilette
	@title-font = AUdimat-Mobilette-Bold
	@very-small-padding = 0.4em
	@small-padding = 1em
	@medium-padding = 2em
	@large-padding = 3.5em
	@very-large-padding = 6em
	@padding-section-top = @large-padding + 2
	@padding-section-bottom = @padding-section-top
	@padding-first-section-top = @padding-section-top + 2
	@margin-section-container-top = @medium-padding
	@margin-section-container-bottom = @margin-section-container-top 
*/

header {
	background-color: #E6580D;
	padding-top: 2em;
	padding-left: 5.5555%;
}

#mobilette {
	font-family: Input-Mobilette;
	color: #a13d09;
}

#mobilette::first-letter {
	color: #501e04;
}

#slogan {
	color: #FCFCFC;
	padding-top: 3.5em;
	padding-bottom: 6em;
	background: url('../images/rocket.png') no-repeat center bottom;
	background-color: #E6580D;
}

/*#slogan [*/
	#slogan h1 {
		padding-bottom: 0.4em;
	}
	#slogan a {
		color: white;
	}
/*]*/

#startup-failure {
	background-color: #1F1F1F;
	color: white;
	padding-bottom: 2em;
}

/*#startup-failure [*/
	#startup-failure #startup-failure-number {
		padding: 0px;
		display: block;
		color: white;
	}
/*]*/

/* @media screen and (min-width: 720px) */
@media screen and (min-width: 45em) {
	#startup-failure > .section-container {
		display: table;
	}
	#startup-failure .section-container > div {
		float: none;
		display: table-cell;
		vertical-align: middle;
	}
}

#why-startup-failure {
	text-align: left;
}

/*#why-startup-failure [*/
	#why-startup-failure > h2 {
		padding-top: 0px;
	}
	#why-startup-failure ul {
		list-style-position: inside;
		margin-top: 0.4em;
	}
/*]*/

#oussama-amar-quote {
	background-color: #1F1F1F;
	font-style: italic;
	color: #8c8c8c;
	padding-top: 2em;
	padding-bottom: 2em;
}

/*#oussama-amar-quote [*/
	#oussama-amar-quote #oussama_amar {
		margin-bottom: 2em;
	}
/*]*/

#solution {
	background-color: #1F1F1F;
	color: white;
	padding-top: 2em;
}

/*#solution [*/
	#solution h3 {
		padding-top: 0px;
	}
	#solution .section-container div.wrapper {
		/*padding-bottom: 500em;*/
	     	/*margin-bottom: -500em;*/
	     	/*margin-right: -1px; /* Thank you IE */*/
	}
	#solution > div.section-container {
		margin-bottom: 2em;
	}
	#solution p {
		text-align: justify;
		color: #8c8c8c;
		padding-bottom: 1em;
	}
	#solution strong {
		color: #bdbdbd;
	}
/*]*/

#solution > .section-container {
    overflow: hidden;
}

#program {
	background-color: #D50C37;
	color: #F9C1CD;
	padding-bottom: 2em;
}

/*#program [*/
	#program .section-container {
		margin-bottom: 3.5em;
	}
	#program .section-container:last-of-type {
		margin-bottom: 0;
	}
	#program h3 {
		padding: 1em 0;
	}
	#program .wrapper {
		padding-bottom: 2em;
	}
/*]*/

#program h2, #program h3 {
	color: white;
}

#program .section-container p {
	text-align: justify;
}

#medium {
	background-color: #D50C37;
	color: white;
	padding-top: 2em;
}

/*#medium [*/
	#medium h3 {
		padding-top: 0;
	}
	#medium .section-container {
		margin-bottom: 3.5em;
	}
	#medium a {
		color: white;
	}
	#medium iframe {
		margin: 0 auto;
	}
/*]*/

#medium h3 + p {
	font-style: italic;
	text-align: justify;
}

/*#quote [*/
	#quote .section-container {
		margin-top: 3.5em;
		margin-bottom: 6em;
	}
/*]*/

/*
**
** Define image url for the people in the index page.
**
	@people-image-size = 70px
	@people-image-radius-size = @people-image-size / 2
	@slack-logo-width = 140px
	@slack-logo-height = 65px
	@social-logo-size = 30px
	@rocket-image-width = 319px
	@rocket-image-height = 412px
*/

#oussama_amar, #stephane_udol, #ricky_ngadam, #paul_louis_bautes {
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	background-position: center;
}
#oussama_amar {
	background-image: url('../images/oussama-amar.jpg');
}
#stephane_udol {
	background-image: url('../images/stephane-udol.jpg');
}
#ricky_ngadam {
	background-image: url('../images/ricky-ngadam.jpg');
}
#paul_louis_bautes {
	background-image: url('../images/paul-louis-bautes.jpg');
}
#mouhamed_i {
	background-image: url('../images/mouhamed-i.jpg');
}
#slack_logo {
	width: 140px;
	height: 65px;
	background-image: url('../images/slack_black.png');
}
#twitter_logo {
	width: 30px;
	height: 30px;
	background-image: url('../images/twitter-icon.png');
}
#slack_icon {
	width: 30px;
	height: 30px;
	background-image: url('../images/slack-icon.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
	#oussama_amar, #stephane_udol, #ricky_ngadam, #paul_louis_bautes, #mouhamed_i {
		background-size: 70px auto;
	}
	 #oussama_amar {
		background-image: url('../images/oussama-amar@2x.jpg');
	}
	#stephane_udol {
		background-image: url('../images/stephane-udol@2x.jpg');
	}
	#ricky_ngadam {
		background-image: url('../images/ricky-ngadam@2x.jpg') ;
	}
	#paul_louis_bautes {
		background-image: url('../images/paul-louis-bautes@2x.jpg');
	}
	#mouhamed_i {
		background-image: url('../images/mouhamed-i@2x.jpg');
	}
	#slack_logo {
		background-size: 140px 65px;
		background-image: url('../images/slack_black@2x.png');
	}
	#twitter_logo {
		background-size: 30px auto;
		background-image: url('../images/twitter-icon@2x.png');
	}
	#slack_icon {
		background-size: 30px auto;
		background-image: url('../images/slack-icon@2x.png');
	}
	#slogan {
		background-size: 319px 412px;
		background-image: url('../images/rocket@2x.png');
	}
}

.circular {
	width: 70px;
	height: 70px;
	border-radius: 35.0px;
	-webkit-border-radius: 35.0px;
	-moz-border-radius: 35.0px;
}

/*
**
** Style testimonial section.
**
*/

#testimonial {
	background-color: #E6900D;
	color: white;
}

/*#testimonial [*/
	#testimonial p, #testimonial q {
		display: block;
		margin-top: 1em;
	}
	#testimonial .name {
		color: #FBE4C2;
	}
	#testimonial .section-container {
		margin-bottom: 3.5em;
	}
	#testimonial > div.section-container:last-of-type {
		margin-bottom: 3.5em;
	}
/*]*/

/* Variables:large-padding{1407:1412,3028:3033,3417:3422,3593:3598,6091:6096,6158:6163}.title-dark-orange-color{1307:1314}.orange-color{1200:1207,1521:1528}.light-green-color{6040:6047}.people-image-size{3988:3992,4003:4007,4893:4897,5746:5750,5761:5765}.rocket-image-height{5661:5666}.white-color{1384:1391}.very-small-padding{1567:1572,2201:2206}.rocket-image-width{5655:5660}.medium-padding{1223:1226,1683:1686,2316:2319,2338:2341,2402:2405,2482:2485,2725:2728,2970:2973,3153:3156,3333:3336}.small-padding{2797:2800,3113:3116,6014:6017}.title-very-dark-orange-color{1354:1361}.light-black-color{2293:2300,2770:2777}.social-logo-size{4563:4567,4578:4582,4662:4666,4677:4681,5449:5453,5555:5559}.very-large-padding{1431:1434,3617:3620}.green-color{5932:5939}.light-blue-color{2944:2951}.slack-logo-height{4478:4482,5347:5351}.blue-color{2927:2934,3295:3302}.main-title-font{1282:1297}.slack-logo-width{4462:4467,5341:5346}.black-color{1642:1649,2255:2262,2444:2451}.higlight-black-color{2824:2831}.people-image-radius-size{5783:5789,5815:5821,5844:5850} */