/*
**
** Variables use in this css file.
**
** note You should use Sublime Text editor.
** see https://packagecontrol.io/packages/CSS%20Less(ish)
**

	@black-color = #1F1F1F
	@white-color = #FCFCFC
	@orange-color = #E6580D
	@light-orange-color = rgba(230, 88, 13, 0.8);
	@dark-orange-color = darken(@orange-color, 45%)
	@main-font = AUdimat-Mobilette-Regular
	@main-title-font = Input-Mobilette
	@title-font = AUdimat-Mobilette-Bold
	@small-padding = 1em
	@medium-padding = 2em
	@large-padding = 3.5em
	@very-large-padding = 6em
	@padding-section-top = @large-padding + 2
	@padding-section-bottom = @padding-section-top
	@padding-first-section-top = @padding-section-top + 1
	@margin-section-container-top = @medium-padding
	@margin-section-container-bottom = @margin-section-container-top 
*/

/*
**
** Fonts use in index page.
**
*/

@font-face {
    font-family: Input-Mobilette;
    src: url(fonts/InputSerifCompressed-Bold.ttf);
}

@font-face {
    font-family: AUdimat-Mobilette-Regular;
    src: url(fonts/AUdimat-Regular.otf);
}

@font-face {
    font-family: AUdimat-Mobilette-Bold;
    src: url(fonts/AUdimat-Bold.otf);
}

/*
**
** Basic style for the index page.
**
*/

body {
	font-family: AUdimat-Mobilette-Regular;
	color: #1F1F1F;
	background-color: #FCFCFC;
}

h1 {
	font-family: Input-Mobilette;
}

h2 {
	font-family: AUdimat-Mobilette-Bold;
}

/*
**
** Style sections for the index page.
**
*/

section {
	text-align: center;
	padding-top: 6em;
	padding-bottom: 6em;
}
section:after, .section-container:after, header:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

.circular {
	margin-left: auto;
	margin-right: auto;
}

/*.retina-image [*/
	.retina-image img {
		opacity: 0;
		filter: alpha(opacity=0);
	}
/*]*/

/*
**
** Style contact section.
**
	@social-size = 30px
*/

#contact {
	padding: 2em 5.555555%;
	background-color: #1F1F1F;
	color: #FCFCFC;
}

/*#contact [*/

	#contact address {
		font-size: 80%;
		font-style: normal;
		vertical-align:middle; 
		margin-top: 4px;
	}
	#contact a {
		color: #E6580D;
	}
/*]*/

#contact > a {
	display: block;
	font-family: Input-Mobilette;
	font-weight: lighter;
}

/*#social [*/
	#social a {
		display: inline-block;
		width: 30px;
		height: 30px;
	}
/*]*/

#contact > a, 
#contact > #social {
	margin-bottom: 2em;
}

#contact p > a {
	display: block;
	width: 30px;
	height: 30px;
}

button {
	background-color: transparent;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	border:1px solid #FCFCFC;
	cursor:pointer;
	color: #FCFCFC;
	font-size: 1.188em;
	line-height: 1.3684210526em;
	font-family:AUdimat-Mobilette-Regular;
	padding: 0.8em 6em;
	text-decoration:none;
}
button:hover {
	background-color: rgba(230, 88, 13, 0.8);;
}
button:active {
	background-color: rgba(230, 88, 13, 0.8);;
	-moz-box-shadow: 
		inset -1px 2px 10px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:
		inset -1px 2px 10px 3px rgba(0, 0, 0, 0.3);
	box-shadow:
		inset -1px 2px 8px 1px rgba(0, 0, 0, 0.3);
	position:relative;
	top:3px;
}

/* Variables:orange-color{2040:2047}.white-color{1265:1272,1903:1910,2482:2489,2516:2523}.medium-padding{1852:1855,2273:2276}.very-large-padding{1458:1461,1480:1483}.light-orange-color{2696:2719,2758:2781}.title-font{1335:1357}.main-title-font{1296:1311,2101:2116}.social-size{2193:2197,2209:2213,2323:2327,2338:2342}.main-font{1202:1227,2589:2614}.black-color{1237:1244,1886:1893} */